---
import Layout from "../layouts/Layout.astro";
import Slide from "../components/Slide.astro";
import Title from "../components/Title.astro";
import Referencias from "../components/Referencias.astro";

// Secciones (grupos de slides)
import Generalidades from "../components/generalidades/Generalidades.astro";
import MarcoReferencial from "../components/marco/MarcoReferencial.astro";
import EstadoArte from "../components/estado_arte/EstadoArte.astro";
import PrimateSlides from "../components/especies/PrimateSlides.astro";
import PlanProyecto from "../components/plan_proyecto/PlanProyecto.astro";
---

<Layout title="Análisis Acústico Automatizado de Vocalizaciones de Primates">
  <main class="snap-y snap-mandatory h-screen w-full overflow-y-scroll">
    <!-- Portada -->
    <Slide id="portada" aspectRatio="aspect-video">
      <Title />
    </Slide>

    <!-- Secciones organizadas en componentes -->
    <Generalidades />
    <MarcoReferencial />
    <EstadoArte />
    <PrimateSlides />
    <PlanProyecto />
    <Referencias />
  </main>
</Layout>
