---
import Slide from "./Slide.astro";
---

<>
  <Slide id="referencias" title="6. Referencias">
    <div class="prose prose-invert max-w-none">
      <h2 class="text-2xl font-bold text-green-400 mb-4">Referencias</h2>
      
      <ul class="space-y-4 list-disc pl-5">
        <li>
          <p>
            Bermúdez-Cuamatzin, E., Delamore, Z., Verdes, S., Pérez-Méndez, N., &
            Logue, D. M. (2020). Ecological and social factors constrain spatial
            and temporal opportunities for mating in a migratory songbird. The
            American Naturalist, 196(3), 309-320.
          </p>
        </li>
        <li>
          <p>
            Boersma, P., & Weenink, D. (2021). Praat: Doing phonetics by
            computer. Computer program. Version, 6(0), 37.
          </p>
        </li>
        <li>
          <p>
            Colwell, C. S. (2019). Timing is everything: From biological clocks
            to the Nobel prize. The Yale Journal of Biology and Medicine, 92(3),
            549-555.
          </p>
        </li>
        <li>
          <p>
            Fernandez-Vargas, M. (2017). Social structure and vocal communication
            in wild black howler monkeys (Alouatta pigra) (Doctoral
            dissertation).
          </p>
        </li>
        <li>
          <p>
            Greenfield, M. D., Esquer-Garrigos, Y., Streiff, R., & Party, V.
            (2016). Animal choruses emerge from receiver psychology. Scientific
            Reports, 6(1), 1-7.
          </p>
        </li>
      </ul>
    </div>
  </Slide>
</>

<style>
  .card {
    background-color: rgba(17, 24, 39, 0.7);
    border: 1px solid rgba(55, 65, 81, 0.5);
    border-radius: 0.5rem;
    padding: 1rem;
  }
</style>
